html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: $alata;
    margin: 0;
}

p{
    font-size: 1.8rem;  /* 1rem = 10px */ 
}

h1,h2,h3,p{
    margin: 0;
    font-size: 1.8rem;
}

.contenedor{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}
